In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Downloads/loan_default_prediction.csv')

# Display the first few rows of the dataset
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,56492997,17120,10365,16025.082690,59,BAT2575549,12.163926,A,D1,RENT,...,8.425776,0.731797,0,INDIVIDUAL,135,0,24,475442,4364,NaN
1,22540813,7133,11650,12615.795600,59,BAT2833642,6.564296,B,E3,MORTGAGE,...,6.157008,0.992918,0,INDIVIDUAL,56,0,1,72412,2573,NaN
2,9862181,25291,25825,11621.280830,59,BAT1761981,14.729900,A,C3,MORTGAGE,...,5.705077,0.281580,0,INDIVIDUAL,3,0,26,284825,19676,NaN
3,10097822,30781,9664,15375.823510,59,BAT5341619,10.523767,A,A2,RENT,...,2.469688,0.959162,0,INDIVIDUAL,21,0,32,40842,7226,NaN
4,47771809,8878,9419,7176.647582,58,BAT4694572,9.997013,C,B3,OWN,...,2.127835,0.402315,0,INDIVIDUAL,104,0,33,90825,26145,NaN

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

# Check the shape of the data
print(df.shape)

# Check for missing values
print(df.isnull().sum())

# Summary statistics
print(df.describe())

# # Check the distribution of the target variable
# sns.countplot(x='default', data=df)
# plt.show()

# Correlation matrix
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.show()

(28913, 35)
ID                                  0
Loan Amount                         0
Funded Amount                       0
Funded Amount Investor              0
Term                                0
Batch Enrolled                      0
Interest Rate                       0
Grade                               0
Sub Grade                           0
Employment Duration                 0
Home Ownership                      0
Verification Status                 0
Payment Plan                        0
Loan Title                          0
Debit to Income                     0
Delinquency - two years             0
Inquires - six months               0
Open Account                        0
Public Record                       0
Revolving Balance                   0
Revolving Utilities                 0
Total Accounts                      0
Initial List Status                 0
Total Received Interest             0
Total Received Late Fee             0
Recoveries                          0
Collection Recovery Fee             0
Collection 12 months Medical        0
Application Type                    0
Last week Pay                       0
Accounts Delinquent                 0
Total Collection Amount             0
Total Current Balance               0
Total Revolving Credit Limit        0
Loan Status                     28913
dtype: int64
                 ID   Loan Amount  Funded Amount  Funded Amount Investor  \
count  2.891300e+04  28913.000000   28913.000000            28913.000000
mean   2.944966e+07  16404.027462   15619.911113            14741.536698
std    2.206842e+07   8358.898287    8229.977503             7230.397758
min    1.297893e+06   1000.000000    1000.000000             1000.000000
25%    8.272049e+06   9776.000000    9175.000000             9695.445501
50%    2.596622e+07  15600.000000   13200.000000            12930.601270
75%    4.855801e+07  21651.000000   21552.000000            19226.397540
max    7.226845e+07  35000.000000   35000.000000            35000.000000

               Term  Interest Rate  Home Ownership  Debit to Income  \
count  28913.000000   28913.000000    28913.000000     28913.000000
mean      54.543078      12.187577    79983.752348        22.159266
std        8.991800       3.911259    45231.316383         8.657629
min       36.000000       5.320000    14907.925920         0.730000
25%       58.000000       9.422042    50791.000000        15.622891
50%       59.000000      11.688652    68894.324470        21.530000
75%       59.000000      14.640000    94684.941810        28.840000
max       60.000000      27.310000   406944.859000        39.629977

       Delinquency - two years  Inquires - six months  ...  \
count             28913.000000           28913.000000  ...
mean                  0.332065               0.276900  ...
std                   0.818869               0.663999  ...
min                   0.000000               0.000000  ...
25%                   0.000000               0.000000  ...
50%                   0.000000               0.000000  ...
75%                   0.000000               0.000000  ...
max                   9.000000               5.000000  ...

       Total Received Late Fee    Recoveries  Collection Recovery Fee  \
count             28913.000000  28913.000000             28913.000000
mean                  0.922863     50.624944                 1.393220
std                   4.765042    336.450176                15.139809
min                   0.000000      0.000000                 0.000000
25%                   0.000000      0.000000                 0.000000
50%                   0.027878      2.165909                 0.579620
75%                   0.061107      4.610188                 0.974739
max                  42.520996   4325.594909               743.166000

       Collection 12 months Medical  Last week Pay  Accounts Delinquent  \
count                  28913.000000   28913.000000         28913.000000
mean                       0.019576      65.007574             0.000968
std                        0.138540      42.494090             0.031105
min                        0.000000       0.000000             0.000000
25%                        0.000000      29.000000             0.000000
50%                        0.000000      60.000000             0.000000
75%                        0.000000      95.000000             0.000000
max                        1.000000     161.000000             1.000000

       Total Collection Amount  Total Current Balance  \
count             28913.000000           2.891300e+04
mean                159.747553           1.530975e+05
std                 911.671785           1.391309e+05
min                   0.000000           6.260000e+02
25%                   3.000000           4.397200e+04
50%                  30.000000           1.092860e+05
75%                  44.000000           2.222960e+05
max               27076.000000           1.183282e+06

       Total Revolving Credit Limit  Loan Status
count                  28913.000000          0.0
mean                   25013.808425          NaN
std                    22284.519460          NaN
min                     1000.000000          NaN
25%                     9325.000000          NaN
50%                    18848.000000          NaN
75%                    33860.000000          NaN
max                   233500.000000          NaN

[8 rows x 26 columns]

ValueError: could not convert string to float: 'BAT2575549'

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Handle missing values (example: fill with mean for numeric columns)
df.fillna(df.mean(), inplace=True)

# Encode categorical variables (example: using LabelEncoder)
le = LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = le.fit_transform(df[col])

# Separate features and target variable
X = df.drop('default', axis=1)
y = df['default']

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2

# Select the top 10 features
selector = SelectKBest(chi2, k=10)
X_selected = selector.fit_transform(X_scaled, y)

# Get the selected feature names
selected_features = X.columns[selector.get_support()]
print(selected_features)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# Initialize the models
models = {
    'RandomForest': RandomForestClassifier(),
    'LogisticRegression': LogisticRegression(),
    'SVM': SVC()
}

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Train and evaluate the models
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f'--- {name} ---')
    print('Accuracy:', accuracy_score(y_test, y_pred))
    print('Confusion Matrix:\n', confusion_matrix(y_test, y_pred))
    print('Classification Report:\n', classification_report(y_test, y_pred))

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve

# Evaluate models using ROC-AUC
for name, model in models.items():
    y_pred_proba = model.predict_proba(X_test)[:, 1]
    auc = roc_auc_score(y_test, y_pred_proba)
    print(f'{name} ROC-AUC: {auc}')
    
    fpr, tpr, _ = roc_curve(y_test, y_pred_proba)
    plt.plot(fpr, tpr, label=f'{name} (AUC = {auc:.2f})')

plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC Curve')
plt.legend()
plt.show()

In [ ]:
# Example using Flask
from flask import Flask, request, jsonify
import joblib

app = Flask(__name__)

# Load the trained model
model = joblib.load('best_model.pkl')

@app.route('/predict', methods=['POST'])
def predict():
    data = request.get_json(force=True)
    prediction = model.predict([data['features']])
    return jsonify({'prediction': int(prediction[0])})

if __name__ == '__main__':
    app.run(debug=True)